html {
    font-size: 16px;
    background-color: #191919
}

nav {
    padding: 18px 20px 20px 20px;
    background-color: #1E202A;
    font-size: 0.85em
}

a,
a:hover {
    text-decoration: none;
    color: inherit
}

.instagram {
    color: #C13584
}

.uniandes {
    color: #fcf409
}

.senecode {
    color: #15a99f
}

#content {
    padding: 18px 20px 20px 20px
}

body {
    background-color: #191919;
    font-family: 'Roboto Mono', monospace;
    color: #FFF
}